#
#    malamute - ZeroMQ Message Broker
#
#    Copyright (c) the Contributors as noted in the AUTHORS file.       
#    This file is part of the Malamute Project.                         
#                                                                       
#    This Source Code Form is subject to the terms of the Mozilla Public
#    License, v. 2.0. If a copy of the MPL was not distributed with this
#    file, You can obtain one at http://mozilla.org/MPL/2.0/.           

Source:         malamute
Section:        libs
Priority:       optional
Maintainer:     malamute Developers <email@hostname.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
    autoconf,
    automake,
    libtool,
    libtool-bin,
    dh-autoreconf,
    libpgm-dev,
    libzmq3-dev,
    libczmq-dev,
    pkg-config,
    systemd,
    dh-systemd

Package: malamute
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Build-Depends: libzmq3-dev, libczmq-dev
Multi-Arch: same
Description: All the enterprise messaging patterns in one box
 .
 Malamute is a messaging broker and a protocol for enterprise messaging.
 Malamute helps to connect the pieces in a distributed software system.
 It includes:
 * Live Streamed Data
 * On-Demand Streamed Data
 * Publish-and-Subscribe (Pub-Sub)
 * Direct Messaging
 * Service Requests
 * Credit Based Flow Control (CBFC)
 .
 This package provides the daemon itself.

Package: libmlm1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Build-Depends: libzmq3-dev, libczmq-dev
Multi-Arch: same
Description: All the enterprise messaging patterns in one box
 .
 Malamute is a messaging broker and a protocol for enterprise messaging.
 Malamute helps to connect the pieces in a distributed software system.
 It includes:
 * Live Streamed Data
 * On-Demand Streamed Data
 * Publish-and-Subscribe (Pub-Sub)
 * Direct Messaging
 * Service Requests
 * Credit Based Flow Control (CBFC)

Package: libmlm-dev
Section: libdevel
Architecture: any
Build-Depends: libzmq3-dev, libczmq-dev
Depends: ${misc:Depends},
         libzmq3-dev,
         libczmq1,
         libmlm1 (= ${binary:Version})
Description: All the enterprise messaging patterns in one box (development files)
 .
 Malamute is a messaging broker and a protocol for enterprise messaging.
 Malamute helps to connect the pieces in a distributed software system.
 It includes:
 * Live Streamed Data
 * On-Demand Streamed Data
 * Publish-and-Subscribe (Pub-Sub)
 * Direct Messaging
 * Service Requests
 * Credit Based Flow Control (CBFC)
 .
 This package provides the development files for Malamute.

Package: malamute-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends},
         libmlm1 (= ${binary:Version})
Description: All the enterprise messaging patterns in one box (development files)
 .
 Malamute is a messaging broker and a protocol for enterprise messaging.
 Malamute helps to connect the pieces in a distributed software system.
 It includes:
 * Live Streamed Data
 * On-Demand Streamed Data
 * Publish-and-Subscribe (Pub-Sub)
 * Direct Messaging
 * Service Requests
 * Credit Based Flow Control (CBFC)
 .
 This package provides the debug symbols for Malamute.
